* {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1920px;
    font-family: 'Source Sans Pro', sans-serif;
}

/*header*/

.header {
    width: 100%;
    position: fixed;
    top: 0;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 255px 0 255px;
}

.headerNav {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    font-weight: bold;
}

.headerName {
    color: #2E3332;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 2px 2px white;
}

/*nav*/

.navItem {
    font-size: 18px;
    padding: 0 15px 0 15px;
    text-transform: uppercase;
}

.navRef {
    color: #978E82;
    text-decoration: none;
}

.navRef:hover {
    color: #E5C375;
}

/*intro*/

.intro {
    width: 100%;
    background-color: #F0E2D7;
}

.introContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.introImage {
    width: 50%;
    background-image: url(project/project/images/home-img.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.introMain {
    width: 50%;
    box-sizing: border-box;
    padding: 270px 50px;
}

.introWelcome {
    color: #B0B1BF;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.introTitle {
    font-size: 55px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 25px;
}

.introSpan {
    font-weight: 400;
}

.introText {
    color: #B4A39F;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 60px;
}

.introButton .startButton {
    background-color: transparent;
    border: 3px solid black;
    border-radius: 300px;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 50px;
    text-transform: uppercase;
}

/*aboutMe*/

.about {
    width: 100%;
}

.aboutContainer {
    display: flex;
    flex-direction: row;
}

.aboutMain {
    width: 50%;
    box-sizing: border-box;
    padding: 50px 40px;
}

.aboutAdd {
    width: 50%;
}

.aboutTitle {
    font-size: 55px;
    font-weight: 300;
    margin-bottom: 15px;
}

.aboutSubtitle {
    color: #E5C375;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 45px;
    
}

.aboutText {
    color: #B4A39F;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
}

.aboutSupText {
    margin-bottom: 15px;
}

.aboutSplit {
    width: 50%;
    display: flex;
    flex-direction: row
}

.aboutImage {
    width: 50%;
    background-image: url(project/project/images/about-img.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
    
.aboutSkill {
    width: 50%;
    color: white;
    background-color: orange;
    box-sizing: border-box;
    padding: 50px 30px 50px 50px;
}

/*Skill*/

.skillStat {
    font-size: 16px;
    font-weight: bold;
}

.skillTitle {
    font-size: 55px;
    font-weight: 300;
    margin-bottom: 15px;
}

.skillSubTitle {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 45px;
}

.skillStatContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

.skillText {
    color: black;
}

.skillBar {
    height: 2px;
    width: 100%;
    background-color: black;
    margin-bottom: 25px;
    position: relative;
}

.firstBar::after {
    display: block;
    content: '';
    height: 2px;
    width: 10%;
    background-color: white;
    position: absolute;
    right: 0; 
}

.secondBar::after {
    display: block;
    content: '';
    height: 2px;
    width: 30%;
    background-color: white;
    position: absolute;
    right: 0; 
}

.thirdBar::after {
    display: block;
    content: '';
    height: 2px;
    width: 20%;
    background-color: white;
    position: absolute;
    right: 0; 
}

/*Service*/

.service {
    width: 100%;
}

.serviceContainer {
    display: flex;
    flex-direction: row;
}

.serviceItem {
    width: 25%;
    color: white;
    padding: 50px 40px 60px 40px;
}

.serviceInfo {
    text-align: center;
}

.serviceIcon {
    font-size: 55px;
    font-weight: 400;
    margin-bottom: 50px;
}

.serviceTitle {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}

.serviceText {
    font-size: 23px;
    font-weight: 300;
    line-height: 1.5;
}

/*ServiceItem*/

.design {
    background-color: orangered;
}

.strategy {
    background-color: red;
}

.mobile {
    background-color: black;
}

.coding {
    color: black;
}

/*Experience*/

.experience {
    background-color: red;
    width: 100%;
}

.experienceContainer {
    display: flex;
    flex-direction: row;
}

.experienceImage {  
    width: 50%; 
    background-image: url(project/project/images/experience-img.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.experienceMain {
    width: 50%;
    box-sizing: border-box;
    padding: 50px;
}

.experienceInfo {
    color: white;
}

.experienceTitle {
    font-size: 55px;
    font-weight: 300;
    margin-bottom: 15px;
}

.experienceSubTitle {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 50px;
}

/*History*/

.historyItem {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 20px;
}

.historyIcon {
    font-size: 55px;
    font-weight: 400;
    margin-right: 20px;
}

.historyProfession {
    font-size: 30px;
    font-weight: 300;
    margin-right: 5px;
}

.historyRange {
    color: black;
    font-size: 19px;
    font-weight: bold;
}

.historyText {
    font-size: 22px;
    font-weight: 300;
    margin: 0 0 20px 35px;
}

/*Education*/

.education {
    width: 100%;
    background-color: orange;
}

.educationContainer {
    display: flex;
    flex-direction: row;
}

.educationMain {
    width: 50%;
    box-sizing: border-box;
    padding: 50px;
}

.educationInfo {
    color: white;
}

.educationTitle {
    font-size: 55px;
    font-weight: 300;
    margin-bottom: 15px;
}

.educationSubTitle {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 50px;
}

.educationImage {
    width: 50%;
    background-image: url(project/project/images/education-img.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Quotes*/

.quotes {
    width: 100%;
    background-color: black;
}

.quotesContainer {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(project/project/images/quotes-bg.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 400px;
    text-align: center;text-align: center;
}

.quotesInfo {
    color: white;
}

.quotesIcon {
    font-size: 55px;
    font-weight: 400;
    margin-bottom: 25px;
}

.quotesTitle {
    font-size: 55px;
    font-weight: 400;
    margin-bottom: 50px;
}

.quotesText {
    color: lightgray;
    font-size: 22px;
    font-weight: 300;
}

/*Feedback*/

.feedback {
    width: 100%;
}

.feedbackContainer {
    display: flex;
    flex-direction: row;
}

.feedbackHello {
    width: 50%;
    background-color: red;
    color: white;
    padding: 50px 40px 50px 50px;
}

.feedbackMain {
    width: 50%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
}

.feedbackImage {
    width: 50%;
    background-image: url('./project/project/images/contact-img.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.feedbackContact {
    width: 50%;
}

/*Hello*/

.helloTitle {
    font-size: 55px;
    font-weight: 300;
    margin-bottom: 15px;
}

.helloSubTitle {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 50px;
}

.helloName {
    width: 95%;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid orange;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 30px;
    padding: 13px;
}

.helloEmail {
    width: 95%;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid orange;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 30px;
    padding: 13px;
}

::placeholder {
    color: white;
}

.hellotext {
    width: 95%;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid orange;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 30px;
    padding: 13px;
}

.helloButton .sendButton {
    background-color: white;
    border: none;
    border-radius: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 20px;
    font-weight: 300;
    margin-left: 20px;
    padding: 15px 170px;
}

/*Contact*/
.contactInfo {
    padding: 50px 40px 50px 50px;
}

.contactTitle {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 15px;
}

.contactAddress {
    color: grey;
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 30px;
}

.contactPhone {
    color: grey;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 10px;
}

.contactMail {
    color: orange;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 10px;
}

.contactSite {
    color: orange;
    font-size: 22px;
    font-weight: 300;
}

/*Footer*/
.footer {
    width: 100%;
}

.footerContainer {
    padding-top: 200px;
    padding-bottom: 200px;
}

.footerInfo {
    color: grey;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
}

.footerText {
    margin-bottom: 30px;
}

.footerSpan {
    color: orange;
}

.footerMedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footerIcon {
    padding: 25px;
    font-weight: bold;
}